<section class="container faq-section">
  <h2 class="title-faq">FAQ</h2>
  <ul class="accordion-list js-accordion">
    <li class="accordion-item">
      <div class="acc-header-wrapper">
        <h3 class="acc-header">
          What programming languages ​​are most often used in your project?
        </h3>
        <button class="acc-btn" type="button">
          <svg class="acc-icon" width="12" height="8">
            <use href="#icon"></use>
          </svg>
        </button>
      </div>
      <div class="accordion-content">
        <p>
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
    </li>
    <li class="accordion-item">
      <div class="acc-header-wrapper">
        <h3 class="acc-header">What are the deadlines for the project?</h3>
        <button class="acc-btn" type="button">
          <svg class="acc-icon" width="12" height="8">
            <use href="#icon"></use>
          </svg>
        </button>
      </div>
      <div class="accordion-content">
        <p>
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>
    </li>
    <li class="accordion-item">
      <div class="acc-header-wrapper">
        <h3 class="acc-header">What payment methods do you accept?</h3>
        <button class="acc-btn" type="button">
          <svg class="acc-icon" width="12" height="8">
            <use href="#icon"></use>
          </svg>
        </button>
      </div>
      <div class="accordion-content">
        <p>
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>
    </li>
    <li class="accordion-item">
      <div class="acc-header-wrapper">
        <h3 class="acc-header">How can I contact you?</h3>
        <button class="acc-btn" type="button">
          <svg class="acc-icon" width="12" height="8">
            <use href="#icon"></use>
          </svg>
        </button>
      </div>
      <div class="accordion-content">
        <p>
          In the field of web development, there are various technologies and
          programming languages. Typically, this includes a combination of
          frontend (client side) and backend (server side) languages.
        </p>
      </div>
    </li>
    <li class="accordion-item">
      <div class="acc-header-wrapper">
        <h3 class="acc-header">Do you provide advice or support?</h3>
        <button class="acc-btn" type="button">
          <svg class="acc-icon" width="12" height="8">
            <use href="#icon"></use>
          </svg>
        </button>
      </div>
      <div class="accordion-content">
        <p>
          The terms of project implementation depend to a large extent on a
          number of factors, such as the scope of the project, its complexity,
          and the availability of resources. Determining exact deadlines is a
          difficult task, and it usually occurs during the planning phase of the
          project.
        </p>
      </div>
    </li>
    <li class="accordion-item">
      <div class="acc-header-wrapper">
        <h3 class="acc-header">
          What does the process of developing a software product look like from
          idea to implementation?
        </h3>
        <button class="acc-btn" type="button">
          <svg class="acc-icon" width="12" height="8">
            <use href="#icon-acc"></use>
          </svg>
        </button>
      </div>
      <div class="accordion-content">
        <p>
          Payment through credit and debit cards such as Visa, MasterCard,
          specialized electronic payment systems such as PayPal, as well as
          payments in cryptocurrencies such as Bitcoin, Ethereum and others.
        </p>
      </div>
    </li>
  </ul>
</section>
