<section class="section">
  <div class="container">
    <h2 class="title-faq">FAQ</h2>
    <ul class="accordion-container faq" id="faq-accordion">
      <li class="ac">
        <div class="ac-header ac-trigger">
          <h3 class="ac-title-faq">
            What programming languages ​​are most often used in your project?
          </h3>
          <button class="ac-trigger ac-btn-faq" type="button">
            <svg class="ac-icon" width="20" height="20">
              <use href="./img/sprite.svg#simple-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="accordion-content-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header ac-trigger">
          <h3 class="ac-title-faq">What are the deadlines for the project?</h3>
          <button class="ac-trigger ac-btn-faq" type="button">
            <svg class="ac-icon" width="20" height="20">
              <use href="./img/sprite.svg#simple-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="accordion-content-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header ac-trigger">
          <h3 class="ac-title-faq">What payment methods do you accept?</h3>
          <button class="ac-trigger ac-btn-faq" type="button">
            <svg class="ac-icon" width="20" height="20">
              <use href="./img/sprite.svg#simple-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="accordion-content-faq">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header ac-trigger">
          <h3 class="ac-title-faq">How can I contact you?</h3>
          <button class="ac-trigger ac-btn-faq" type="button">
            <svg class="ac-icon" width="20" height="20">
              <use href="./img/sprite.svg#simple-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="accordion-content-faq">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header ac-trigger">
          <h3 class="ac-title-faq">Do you provide advice or support?</h3>
          <button class="ac-trigger ac-btn-faq" type="button">
            <svg class="ac-icon" width="20" height="20">
              <use href="./img/sprite.svg#simple-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="accordion-content-faq">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header ac-trigger">
          <h3 class="ac-title-faq">
            What does the process of developing a software <br />
            product look like from idea to implementation?
          </h3>
          <button class="ac-trigger ac-btn-faq" type="button">
            <svg class="ac-icon" width="20" height="20">
              <use href="./img/sprite.svg#simple-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="accordion-content-faq">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
