<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-img-box">
      <img
        class="header-image"
        srcset="./img/avatar@1x.webp 1x, ./img/avatar@2x.webp 2x"
        src="./img/avatar@1x.webp"
        alt="logo"
        width="80"
        height="80"
        loading="lazy"
        title="logo"
      />

      <p class="logo-text">jefferson*</p>
    </a>

    <nav class="menu-box">
      <button
        class="menu-link decoration"
        type="button"
        aria-label="Menu button"
      >
        Menu
      </button>

      <ul class="menu-list">
        <li class="menu-list-item">
          <a href="#about-me" class="list-item-link">About me</a>
        </li>

        <li class="menu-list-item">
          <a href="#benefits" class="list-item-link">Benefits</a>
        </li>

        <li class="menu-list-item">
          <a href="#projects" class="list-item-link">Projects</a>
        </li>

        <li class="menu-list-item">
          <a href="#faq-section" class="list-item-link">FAQ</a>
        </li>
      </ul>
    </nav>

    <a class="order-btn" href="#work-together">Order the project</a>

    <button class="burger-btn" type="button" aria-label="Mobile menu button">
      <svg class="icon icon-menu-05 burger-icon" width="28" height="28">
        <use href="./img/sprite.svg#menu"></use>
      </svg>
    </button>
  </div>
</header>
