<!-- Hero section -->
<section class="hero section">
  <div class="container">
    <h1 class="hero-title"></h1>

    <ul class="social-icons animate-icons">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-links"
          target="_blank"
          >IG</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-links"
          target="_blank"
          >FB</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-links"
          target="_blank"
          >YT</a
        >
      </li>
      <li>
        <a
          href="https://github.com/tymur-lykho/CodeCrafters-project"
          class="social-links"
          target="_blank"
          >GH</a
        >
      </li>
      <li>
        <a href="mailto:lloydjefferson@gmail.com" class="social-links-email"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
