<!-- Hero section -->
<section class="hero section">
  <div class="hero-container">
    <h1 class="hero-title animate-title">
      HELLO.<br />I’M FULLSTACK DEVELOPER<br />LLOYD JEFFERSON.
    </h1>
    <ul class="socials animate-icons">
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >YT</a
        >
      </li>
      <li>
        <a
          href="https://github.com/tymur-lykho/CodeCrafters-project"
          class="social-links"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li>
        <a
          href="mailto:lloydjefferson@gmail.com"
          class="social-links-email animate-email"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>
