
<section class="hero">
  <div class="hero-overlay"></div>
      <div class="hero-content animate-content">
    <h1 class="hero-title animate-title">
      HELLO.<br />
      I’M FULLSTACK DEVELOPER<br />
      LLOYD JEFFERSON.
    </h1>
    </div>
   </div>
    <ul class="social-icons animate-icons">
      <li class="social-items">
        <a
          class="social-link"
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
          >IG</a
        >
      </li>
      <li class="social-items">
        <a
          class="social-link"
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="YouTube"
        >
          YT
        </a>
      </li>
      <li class="social-items">
        <a
          class="social-link"
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          FB
        </a>
      </li>
      <li class="social-items">
        <a
          class="social-link"
          href="https://github.com/tymur-lykho/CodeCrafters-project"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="GitHub"
        >
          GH
        </a>
      </li>
      <li><a href="mailto:lloydjefferson@gmail.com" class="email">lloydjefferson@gmail.com</a></li>
    </ul>
      </div>
</section>
