<div class="backdrop container is-open">
  <div class="modal-window">
    <button class="close-btn" type="button">
      <svg class="close-icon" width="8" height="8">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Thank you for your interest in cooperation!</h2>
    <p class="modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
