<section class="projects">
  <div class="container projects-container">
    <h2 class="sectiom-title">projects</h2>
    <div class="swiper-container">
      <ul class="swiper-wrapper projects-list">
        <li class="swiper-slide projects-item">
          <div class="projects-item-wrapper">
            <ul class="technologies-list">
              <li class="technologies">#react</li>
              <li class="technologies">#js</li>
              <li class="technologies">#node js</li>
              <li class="technologies">#git</li>
            </ul>
            <h3 class="description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </h3>
            <a
              class="projects-link"
              href="https://github.com/tymur-lykho/CodeCrafters-project"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-items-picture">
            <picture>
              <!-- Desktop  -->
              <source
                media="(min-width: 1440px )"
                srcset="
                  ./img/projects/slide1desk@1x.webp 1x,
                  ./img/projects/slide1desk@2x.webp 2x
                "
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px )"
                srcset="
                  ./img/projects/slide1tab@1x.webp 1x,
                  ./img/projects/slide1tab@2x.webp 2x
                "
              />

              <!-- Mobile -->
              <source
                media="(max-width: 767px )"
                srcset="
                  ./img/projects/slide1mob@1x.webp 1x,
                  ./img/projects/slide1mob@2x.webp 2x
                "
              />

              <img
                class="projects-items-img"
                src="./img/projects/slide1mob@1x.webp"
                srcset="
                  ./img/projects/slide1mob@1x.webp 1x,
                  ./img/projects/slide1mob@2x.webp 2x
                "
                alt="example book app"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>

        <li class="swiper-slide projects-item">
          <div class="projects-item-wrapper">
            <ul class="technologies-list">
              <li class="technologies">#react</li>
              <li class="technologies">#js</li>
              <li class="technologies">#node js</li>
              <li class="technologies">#git</li>
            </ul>
            <p class="description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-link"
              href="https://github.com/tymur-lykho/CodeCrafters-project"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-items-picture">
            <picture>
              <!-- Desktop  -->
              <source
                media="(min-width: 1440px )"
                srcset="
                  ./img/projects/slide2desk@1x.webp 1x,
                  ./img/projects/slide2desk@2x.webp 2x
                "
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px )"
                srcset="
                  ./img/projects/slide2tab@1x.webp 1x,
                  ./img/projects/slide2tab@2x.webp 2x
                "
              />

              <!-- Mobile -->
              <source
                media="(max-width: 767px )"
                srcset="
                  ./img/projects/slide2mob@1x.webp 1x,
                  ./img/projects/slide2mob@2x.webp 2x
                "
              />

              <img
                class="projects-items-img"
                src="./img/projects/slide1mob@1x.webp"
                srcset="
                  ./img/projects/slide2mob@1x.webp 1x,
                  ./img/projects/slide2mob@2x.webp 2x
                "
                alt="example book app"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>

        <li class="swiper-slide projects-item">
          <div class="projects-item-wrapper">
            <ul class="technologies-list">
              <li class="technologies">#react</li>
              <li class="technologies">#js</li>
              <li class="technologies">#node js</li>
              <li class="technologies">#git</li>
            </ul>
            <p class="description-text">
              Programming Across Borders: Ideas, Technologies, Innovations
            </p>
            <a
              class="projects-link"
              href="https://github.com/tymur-lykho/CodeCrafters-project"
              target="_blank"
              >See project</a
            >
          </div>
          <div class="projects-items-picture">
            <picture>
              <!-- Desktop  -->
              <source
                media="(min-width: 1440px )"
                srcset="
                  ./img/projects/slide3desk@1x.webp 1x,
                  ./img/projects/slide3desk@2x.webp 2x
                "
              />

              <!-- Tablet -->
              <source
                media="(min-width: 768px )"
                srcset="
                  ./img/projects/slide3tab@1x.webp 1x,
                  ./img/projects/slide3tab@2x.webp 2x
                "
              />

              <!-- Mobile -->
              <source
                media="(max-width: 767px )"
                srcset="
                  ./img/projects/slide3mob@1x.webp 1x,
                  ./img/projects/slide3mob@2x.webp 2x
                "
              />

              <img
                class="projects-items-img"
                src="./img/projects/slide1mob@1x.webp"
                srcset="
                  ./img/projects/slide3mob@1x.webp 1x,
                  ./img/projects/slide3mob@2x.webp 2x
                "
                alt="example book app"
                width="614"
                height="385"
              />
            </picture>
          </div>
        </li>
      </ul>
      <div class="arrow-btn-wrapper">
        <button type="button" class="arrow-btn arrow-btn-left">
          <svg class="icon" width="25" height="24">
            <use href="./img/projects/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
        <button type="button" class="arrow-btn arrow-btn-right">
          <svg class="icon" width="25" height="24">
            <use href="./img/projects/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
