<section class="reviews" id="reviews-section">
  <div class="container reviews-container">
    <h2 class="title">rewiews</h2>
    <div class="swiper swiper-reviews">
      <ul class="swiper-wrapper reviews-list"></ul>
      <div class="arrows-container">
        <button type="button" class="reviews-btn-prev">
          <svg class="icon-reviews-arrow" width="24" height="24">
            <use href="../img/projects/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
        <button type="button" class="reviews-btn-next">
          <svg class="icon-reviews-arrow" width="24" height="24">
            <use href="../img/projects/symbol-defs.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
