<section class="reviews" id="reviews-section">
  <div class="container reviews-container">
    <h2 class="title">rewiews</h2>
    <div class="swiper swiper-reviews">
      <ul class="swiper-wrapper reviews-list"></ul>
      <div class="reviews-btn-container">
        <button type="button" class="arrow-btn reviews-btn-prev">
          <svg class="projects-icon" width="24" height="24">
            <use href="./img/sprite.svg#arrow-narrow"></use>
          </svg>
        </button>
        <button type="button" class="arrow-btn reviews-btn-next">
          <svg class="icon-arrow-right" width="24" height="24">
            <use href="./img/sprite.svg#arrow-narrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
