<footer class="work-together">
  <div class="footer-container container">
    <h2 class="footer-title">
      Let’s <span class="accent-word">work</span> together
    </h2>
    <form method="post" class="footer-form">
      <label for="input-email" class="visually-hidden">Input your e-mail</label>
      <input
        class="form-input"
        type="email"
        name="input-email"
        id="input-email"
        placeholder="clients@gmail.com"
        pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        required
      />
      <p class="message"></p>
      <label for="input-comment" class="visually-hidden">
        Input your comment
      </label>
      <input
        type="text"
        class="form-input"
        name="input-comment"
        id="input-comment"
        placeholder="comments"
        required
      />
      <button type="submit" class="form-btn">Send</button>
    </form>
    <ul class="footer-contact-list">
      <li class="contact-item">
        <a
          class="contact-link"
          href="mailto:lloydjefferson@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          lloydjefferson@gmail.com
        </a>
      </li>
      <li class="contact-item">
        <a class="contact-link" href="tel:+380 11 1111 11 11"
          >+380 11 1111 11 11</a
        >
      </li>
    </ul>
  </div>
</footer>
