.about-me {
  padding: 64px 0px;
}

.about-me-section {
  gap: 16px;
  /* width: 1376px; */
  /* height: 700px; */
  margin-bottom: 64px;
}

.about-me-introduction {
  background-color: #242527;
  padding: 32px 32px 272px;
  border-radius: 24px;
  /* width: 343px; */
  height: 500px;
  margin-bottom: 16px;
}

.about-me-content {
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.accent-word-red {
  color: #ed3b44;
}

.accent-word-grey {
  color: rgba(250, 250, 250, 0.4);
}

.about-me-img {
  object-fit: cover;
  border-radius: 24px;
  width: 343px;
  height: 500px;
}

@media only screen and (min-width: 768px) {
  .about-me {
    padding: 64px 0px 96px;
  }

  .about-me-content {
    font-size: 38px;
    line-height: 1.05;
  }

  .about-me-introduction {
    width: 704px;
    height: 700px;
    padding: 64px 64px 436px;
  }
  .about-me-img {
    width: 704px;
    height: 700px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-me {
    padding: 96px 32px 164px;
  }
  .about-me-section {
    display: flex;
    gap: 16px;
    width: 1376px;
    height: 700px;
    margin-bottom: 64px;
  }
  .about-me-introduction {
    background-color: #242527;
    padding: 64px 64px 436px;
    width: 680px;
    height: 700px;
    margin-bottom: 0px;
  }
  .about-me-img {
    object-fit: cover;
    max-width: 680px;
  }

  .about-me-content {
    /* font-family: sans-serif;  */
    /* font-weight: 500px; */

    line-height: 1.05;
    /* letter-spacing: -0.03em; */
    /* text-transform: uppercase; */
    /* color:  #fafafa;
   */
  }
}

/* #region ABOUT ME ACCORDION */
#about-me-accordion .ac {
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin-bottom: initial;
  border: initial;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

#about-me-accordion .ac .ac-panel {
  padding-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  #about-me-accordion .ac .ac-panel {
    padding-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  #about-me-accordion .ac .ac-panel {
    padding-left: 696px;
    padding-right: 68px;
  }
}

#about-me-accordion .ac .ac-panel .ac-text {
  color: inherit;
  font: inherit;
  padding: 0;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

#about-me-accordion .ac .ac-panel .ac-text .accordion-list:not(:last-child) {
  margin-bottom: 10px;
}

#about-me-accordion .ac .ac-panel .accordion-text:not(:last-child) {
  margin-bottom: 32px;
}

#about-me-accordion .ac .ac-trigger {
  padding: 0;
  font: inherit;
  color: inherit;
}

#about-me-accordion .ac .ac-trigger::after {
  display: none;
}

#about-me-accordion .ac .ac-trigger.ac-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  stroke: #fafafa;
  transform: rotate(180deg);
}

#about-me-accordion .ac.is-active .ac-trigger.ac-btn {
  transform: rotate(360deg);
}

#about-me-accordion .ac:not(:first-child) {
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  #about-me-accordion .ac:not(:first-child) {
    margin-top: 32px;
  }
}

#about-me-accordion .ac-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 12px;
}

@media only screen and (min-width: 768px) {
  #about-me-accordion .ac-header {
    margin-bottom: 8px;
  }
}

#about-me-accordion .accordion-title {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(250, 250, 250, 0.4);
}
/* #endregion */

/* #region SKILLS */

.skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
  margin-top: 32px;
}

#skills-swiper .skills-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 130px;
  height: 130px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 50%;
}
@media only screen and (max-width: 344px) {
  #skills-swiper .skills-item {
    height: 100px;
  }
}
@media only screen and (min-width: 768px) {
  #skills-swiper .skills-item {
    width: 200px;
    height: 200px;
    font-size: 20px;
  }
}
#skills-swiper .skills-item.swiper-slide-active {
  border: none;
  background-color: #ed3b44;
}
.skills-btn-next {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: auto;
  background-color: transparent;
  stroke: #3b3b3b;
  flex-shrink: 0;
}
@media only screen and (min-width: 768px) {
  .skills-btn-next {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-width: 768px) {
  .skills-btn-icon {
    width: 40px;
    height: 40px;
  }
}
/* #endregion */
