.covers {
  position: relative;
}
.covers-container {
  padding: 0;
  margin: 0;
  max-width: 100vw;
}
.covers-box {
  overflow: hidden;
  max-width: 100%;
  height: 508px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  background-color: #1c1d20;
  background-image: url(../img/covers/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 768px) {
  .covers-box {
    height: 960px;
    gap: 50px;
  }
}

@media only screen and (min-width: 1400px) {
  .covers-box {
    gap: 40px;
  }
}

.covers-list {
  position: relative;
  top: -80px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  transform: rotate(16deg);
  height: auto;
  min-height: 163px;
}

@media only screen and (min-width: 768px) {
  .covers-list {
    top: -150px;
    min-height: 200px;
  }
}
@media only screen and (min-width: 1440px) {
  .covers-list {
    top: -300px;
  }
}
.covers-list:nth-child(odd) .covers-item {
  animation: marqueeLeft 5s linear infinite;
}
.covers-list:nth-child(even) .covers-item {
  animation: marqueeRight 5s linear infinite;
}

.covers-item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  height: 163px;
  white-space: nowrap;
}
@media only screen and (min-width: 768px) {
  .covers-item {
    width: 544px;
    height: 314px;
  }
}

@keyframes marqueeLeft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
.covers-list:nth-child(odd) .covers-item {
  animation: marqueeLeft 5s linear infinite alternate;
}
.covers-list:nth-child(even) .covers-item {
  animation: marqueeRight 5s linear infinite alternate;
}

.covers-img {
  object-fit: cover;
  overflow: hidden;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .covers-img {
    width: 544px;
    height: 314px;
  }
}
