/* Styles for Mobile devices */
.faq-section {
  padding: 64px 16px;
}
.title-faq {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.accordion-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
.accordion-item-faq {
  max-width: 343px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  transition: all 0.3s ease-in-out;
}
.accordion-item-faq:first-child {
  border-top: none;
}

.acc-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.acc-header {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
  margin-top: 20px;
  margin-bottom: 16px;
  width: 289px;
}
.acc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: #1c1d20;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.accordion-content {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
}

/* .acc-btn.active .acc-icon {
  transform: rotate(180deg);
}
.accordion-item-faq.active .acc-btn {
  transform: rotate(180deg);
} */
.accordion-item-faq.active .accordion-content {
  display: block;
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .accordion-item-faq {
    max-width: 704px;
  }
  .faq-section {
    padding: 96px 32px;
  }
  .acc-header {
    width: 485px;
    margin-top: 32px;
    margin-bottom: 42px;
  }
  .acc-btn {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .faq-section {
    padding: 164px 32px;
    max-width: 1440px;
    height: 716px;
  }

  .accordion-list {
    display: flex;
    flex-wrap: wrap;
    /* border-bottom: 1px solid rgba(250, 250, 250, 0.2); */
  }

  .accordion-item-faq {
    width: 50%;
    overflow: hidden;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }
  .accordion-item-faq:nth-child(2n) {
    border-right: none;
  }
  .acc-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
