/* Styles for Mobile devices */
.faq-section {
  padding: 64px 0;
}
.title-faq {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.accordion-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
.accordion-item-faq {
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  transition: all 0.3s ease-in-out;
}
.accordion-item-faq:first-child {
  border-top: none;
}
.acc-header-wrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}
.acc-header {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}
.acc-btn {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: #1c1d20;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.acc-icon {
  stroke: #fafafa;
}

.accordion-content {
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 16px;
  display: none;
}
.accordion-item-faq.open .accordion-content {
  display: block;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .faq-section {
    padding: 96px 0;
  }
  .accordion-item-faq {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  .acc-header {
    width: 485px;
  }
  .acc-btn {
    padding: 10px;
    width: 40px;
    height: 40px;
  }
  .accordion-content {
    margin-top: 26px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .faq-section {
    padding: 164px 0;
  }

  .accordion-list {
    display: flex;
    flex-wrap: wrap;
  }

  .accordion-item-faq {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 42px;
    width: 50%;
    overflow: hidden;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }
  .accordion-item-faq:nth-child(2n) {
    border-right: none;
  }
  .acc-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-item-faq:nth-child(1),
  .accordion-item-faq:nth-child(3),
  .accordion-item-faq:nth-child(5) {
    padding-left: 0;
  }

  .accordion-item-faq:nth-child(2),
  .accordion-item-faq:nth-child(4),
  .accordion-item-faq:nth-child(6) {
    padding-right: 0;
  }
  ul.accordion-list:not(:first-child) {
    padding-top: 0 !important;
  }
}
