/* Styles for Mobile devices */

.title-faq {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.4);
  margin-bottom: 32px;
}
.faq {
  border-top: 1px solid rgba(250, 250, 250, 0.2);
}
#faq-accordion .ac {
  font: inherit;
  color: inherit;
  background-color: transparent;
  margin-bottom: initial;
  border: initial;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  padding: 20px 0;
}
#faq-accordion .ac-title-faq {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: #fafafa;
}
#faq-accordion .ac .ac-trigger {
  width: auto;
  padding: 0;
  font: inherit;
  color: inherit;
}
#faq-accordion .ac .ac-trigger::after {
  display: none;
}
#faq-accordion .accordion-content-faq {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: rgba(250, 250, 250, 0.6);
  margin-top: 16px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
#faq-accordion .ac.is-active .ac-panel .accordion-content-faq {
  opacity: 1;
}

#faq-accordion .ac-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
}

#faq-accordion .ac-btn-faq .ac-icon {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 7px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  background-color: #1c1d20;
  stroke: #fafafa;
  transition: transform 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: rotate(180deg);
}
#faq-accordion .ac.is-active .ac-trigger .ac-icon {
  transform: rotate(360deg);
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .faq-section {
    padding: 96px 0;
  }
  #faq-accordion .ac {
    padding: 32px 0 42px;
  }
  #faq-accordion .ac:last-child {
    padding-bottom: 32px;
  }
  #faq-accordion .ac.is-active {
    padding-bottom: 24px;
  }

  #faq-accordion .accordion-content-faq {
    margin-top: 26px;
  }
  #faq-accordion .ac-btn-faq .ac-icon {
    width: 40px;
    height: 40px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .faq {
    display: flex;
    flex-wrap: wrap;
  }

  #faq-accordion .ac {
    padding-left: 32px;
    padding-right: 32px;
    width: 50%;
    border-right: 1px solid rgba(250, 250, 250, 0.2);
  }

  #faq-accordion .ac:nth-child(5) {
    padding-bottom: 62px;
  }
  #faq-accordion .ac.is-active {
    padding-bottom: 26px;
  }

  #faq-accordion .ac.is-active:nth-child(5) {
    padding-bottom: 54px;
  }

  #faq-accordion .ac:nth-child(2n) {
    border-right: none;
  }
  #faq-accordion .ac:nth-child(odd) {
    padding-left: 0;
  }

  #faq-accordion .ac:nth-child(even) {
    padding-right: 0;
  }
  #faq-accordion .ac:nth-child(2) .accordion-content-faq {
    margin-top: 21px;
  }
}
