.header {
  position: absolute;
  width: 100%;
  padding-top: 32px;
}
.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
}

.header-img-box {
  display: flex;
  flex-direction: row;
  gap: 8px;
  min-width: 172px;
  animation-duration: 1s;
  animation-name: slidein;
}

.header-image {
}

.logo-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fafafa;
}

.menu-box {
  display: none;
}

@media only screen and (min-width: 768px) {
  .menu-box {
    position: relative;
    display: block;
    animation-duration: 1s;
    animation-name: slidein;
  }
}

.decoration {
  position: relative;
}

.decoration::after {
  content: '';
  position: relative;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 1px;
  width: 100%;
  background-color: #fafafa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.decoration:hover::after,
.decoration:focus::after,
.decoration:active::after {
  background-color: rgb(237, 59, 68);
}

.menu-link {
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 10px;
}
.menu-link.decoration::after {
  position: absolute;
  bottom: 7px;
  width: calc(100% - 2 * 10px);
}
.menu-link:hover,
.menu-link:focus,
.menu-link:active {
  color: rgb(237, 59, 68);
}

.menu-list {
  position: absolute;
  z-index: 1;
  display: none;
  opacity: 0;
  top: 47px;
  left: 50%;
  transform: translateX(-50%);


  visibility: hidden;
  transition:
    opacity 300ms ease,
    transform 300ms ease,
    visibility 300ms ease;

}
.menu-list.is-open {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;

  animation-duration: 4s;
  animation-name: fade-in;

  visibility: visible; 
  pointer-events: auto;

}

.visually-hidden {
}

.menu-list-item {
}

.list-item-link {
  line-height: 1.19;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item-link:hover,
.list-item-link:focus,
.list-item-link:active {
  color: rgb(237, 59, 68);
}

.order-btn-box {
}

.order-btn {
  display: none;
}

@media only screen and (min-width: 768px) {
  .order-btn {
    display: block;
    padding: 18px 24px 18px 24px;
    border-radius: 60px;
    background-color: rgb(237, 59, 68);
    letter-spacing: -0.02em;
    animation-duration: 1s;
    animation-name: slidein;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .order-btn:hover {
    background-color: rgb(224, 55, 63);
    transform: scale(1.05);
  }

  .order-btn:focus {
    background-color: rgb(224, 55, 63);
  }
}

.burger-btn-box {
  margin-left: auto;
}

@media only screen and (min-width: 768px) {
  .burger-btn-box {
    display: none;
  }
}

.burger-btn {
  display: flex;
  background-color: transparent;
  border: none;
  padding: 0;
  animation-duration: 1s;
  animation-name: slidein;
}

.burger-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 11.333h24M4 20.666h24' stroke='white' stroke-width='2.2857' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* <!-- Mobail-menu  -->  */

.mobail-backdrop {
  position: relative;
  overflow: hidden;
}

.mobile-menu {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100dvh;
  transform: translateX(100%);

  background: linear-gradient(to right,
  #ce3138 0%, 
  #9d2d31 25%, 
  #69292d 50%, 
  #2e2e31 75%, 
  #1c1d20 100%);
}

.mobile-menu::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: repeating-linear-gradient(
    to right,
    rgba(0, 0, 0, 0.08) 0px,
    rgba(0, 0, 0, 0.08) 2px,
    transparent 20px,
    transparent 30px
  );
  pointer-events: none;
  z-index: 1;
}






.mobile-menu.is-open {
  transform: translateX(0);
  opacity: 1;

  padding: 120px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg%20viewBox='0%200%2024%2024'%20xmlns='http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d='M12%2010.586L6.707%205.293%205.293%206.707%2010.586%2012l-5.293%205.293%201.414%201.414L12%2013.414l5.293%205.293%201.414-1.414L13.414%2012l5.293-5.293-1.414-1.414L12%2010.586z'%20fill='%23ffffff'%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mobail-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
}

.mobail-menu-list-item {
}

.mobail-list-item-link {
  color: rgb(250, 250, 250);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobail-list-item-link:hover,
.mobail-list-item-link:focus,
.mobail-list-item-link:active {
  color: rgb(237, 59, 68);
}

.burger-order-btn-box {
  margin-bottom: 64px;
}

.mobail-order-btn {
  width: 174px;

  padding: 18px 24px 18px 24px;
  border-radius: 60px;
  background: rgb(237, 59, 68);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: -0.02em;
  animation-duration: 1s;
  animation-name: slidein;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-align: center;
 
}

.mobail-order-btn:hover,
.mobail-order-btn:focus,
.mobail-order-btn:active {
  background: rgb(224, 55, 63);
}

@keyframes slidein {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
