.hero {
  background: url('/img/hero/glass-hero@1x.webp'),
    linear-gradient(
      270deg,
      rgba(28, 29, 32, 1) 50%,
      rgba(105, 41, 45, 1) 68%,
      rgba(237, 59, 68, 1) 100%
    );

  background-repeat: repeat-y, no-repeat;
  background-position-x: -140vw, left;
  background-size: cover, cover;
  background-blend-mode: overlay;
  backdrop-filter: blur(4px);
  transition: background-position-x 2s ease-in-out;

  padding-top: 281px;
  padding-bottom: 32px;
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background: url('/img/hero/glass-hero@2x.webp'),
      linear-gradient(
        270deg,
        rgba(28, 29, 32, 1) 50%,
        rgba(105, 41, 45, 1) 68%,
        rgba(237, 59, 68, 1) 100%
      );

    background-repeat: repeat-y, no-repeat;
    background-position-x: -140vw, left;
    background-size: cover, cover;
    background-blend-mode: overlay;
    backdrop-filter: blur(4px);
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    background-position-x: -90vw, left;
  }
}
@media only screen and (min-width: 1440px) {
  .hero {
    background-size: auto, cover;
    background-position-x: -40vw, left;
  }
}
.hero.visible {
  background-position-x: -70vw, left;
}
@media only screen and (max-width: 373px) {
  .hero.visible {
    background-size: auto, cover;
    background-position-x: -140vw, left;
  }
}
@media only screen and (min-width: 768px) {
  .hero.visible {
    background-position-x: -22vw, left;
  }
}
@media only screen and (min-width: 1440px) {
  .hero.visible {
    background-position-x: 0vw, left;
  }
}

@media only screen and (max-width: 1440px) and (-webkit-min-device-pixel-ratio: 2),
  only screen and (max-width: 1440px) and (min-resolution: 192dpi),
  only screen and (max-width: 1440px) and (min-resolution: 2dppx) {
  .hero.visible {
    background-size: 728px 900px, cover;
  }
}

.hero-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 50px;
  letter-spacing: -0.03em;
  line-height: 1;

  margin-bottom: 212px;
}
@media (min-width: 768px) {
  .hero-title {
    font-size: 90px;
  }
}
@media only screen and (min-width: 1440px) {
  .hero-title {
    max-width: 1084px;
    margin-inline: auto;
  }
}

.fade-line {
  display: block;
  width: 101%;
  white-space: normal;
}
.fade-word {
  display: inline-block;
}
.fade-char {
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 0.6s forwards;
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .fade-char {
    transform: translateY(40px);
    animation-duration: 0.8s;
  }
}
@media (min-width: 1440px) {
  .fade-char {
    transform: translateY(60px);
    animation-duration: 1s;
  }
}
@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

@media screen and (min-width: 768px) {
  .social-icons {
    gap: 8px;
    justify-content: flex-end;
  }
}

.social-icons > li {
  width: 37px;
  height: 37px;
  background-color: transparent;
  text-align: center;
  padding: 10px 0;
  border: 1px solid #fafafa33;
  border-radius: 60px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .social-icons > li {
    width: 55px;
    height: 55px;
    font-size: 16px;
    padding: 18px 0;
  }
}

.social-icons li:hover,
.social-icons li:focus {
  border: 1px solid #fafafa;
}

.social-icons li:last-child {
  padding: 10px 12px;
  width: auto;
}

@media screen and (min-width: 768px) {
  .social-icons li:last-child {
    padding: 18px 24px;
    width: auto;
  }
}
